 #firstDiv{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 3%;
    padding-top: 6%;
    /* background-color: aqua; */
}
#secondDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 9%;
    /* background-color: lightcoral; */
}
#Button1{
    width: 18%;
    height: 49px;
    border-radius: 27px;
    border: 1px solid;
    font-size: medium;
    color:  black;
    background-color: #aca4a4;
}

#Button2{
    width: 18%;
    height: 49px;
    border-radius: 27px;
    border: 1px solid;
    color:  black;
    font-size: medium;
  
    background-color: #aca4a4;
}
 #Picture{
    
    width: 33%;
    height: 246px;
} 
